<a href="https://colab.research.google.com/github/JuniorFigueroa18/DSHSRP/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import zipfile
import pandas as pd

file_path = "/content/athlete_events.csv (1).zip"

with zipfile.ZipFile(file_path, 'r') as zip_ref:
    zip_ref.extractall("/content/")

df = pd.read_csv("/content/" + 'athlete_events.csv')
display(df.head())

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

I uploaded and display this dataset to identify the x-axis and y-axis, as well as to analyze how the **data differs for each individual**.

In [7]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

,

In [19]:
display(df.iloc[1])

ID                                   2
Name                          A Lamusi
Sex                                  M
Age                               23.0
Height                           170.0
Weight                            60.0
Team                             China
NOC                                CHN
Games                      2012 Summer
Year                              2012
Season                          Summer
City                            London
Sport                             Judo
Event     Judo Men's Extra-Lightweight
Medal                              NaN
Name: 1, dtype: object

In [20]:
display(df.iloc[2])

ID                              3
Name          Gunnar Nielsen Aaby
Sex                             M
Age                          24.0
Height                        NaN
Weight                        NaN
Team                      Denmark
NOC                           DEN
Games                 1920 Summer
Year                         1920
Season                     Summer
City                    Antwerpen
Sport                    Football
Event     Football Men's Football
Medal                         NaN
Name: 2, dtype: object

In [21]:
display(df.iloc[3])

ID                                  4
Name             Edgar Lindenau Aabye
Sex                                 M
Age                              34.0
Height                            NaN
Weight                            NaN
Team                   Denmark/Sweden
NOC                               DEN
Games                     1900 Summer
Year                             1900
Season                         Summer
City                            Paris
Sport                      Tug-Of-War
Event     Tug-Of-War Men's Tug-Of-War
Medal                            Gold
Name: 3, dtype: object

In [22]:
display(df.iloc[4])

ID                                       5
Name              Christine Jacoba Aaftink
Sex                                      F
Age                                   21.0
Height                               185.0
Weight                                82.0
Team                           Netherlands
NOC                                    NED
Games                          1988 Winter
Year                                  1988
Season                              Winter
City                               Calgary
Sport                        Speed Skating
Event     Speed Skating Women's 500 metres
Medal                                  NaN
Name: 4, dtype: object

In [23]:
display(df.iloc[5])

ID                                         5
Name                Christine Jacoba Aaftink
Sex                                        F
Age                                     21.0
Height                                 185.0
Weight                                  82.0
Team                             Netherlands
NOC                                      NED
Games                            1988 Winter
Year                                    1988
Season                                Winter
City                                 Calgary
Sport                          Speed Skating
Event     Speed Skating Women's 1,000 metres
Medal                                    NaN
Name: 5, dtype: object

In [24]:
display(df.iloc[6])

ID                                       5
Name              Christine Jacoba Aaftink
Sex                                      F
Age                                   25.0
Height                               185.0
Weight                                82.0
Team                           Netherlands
NOC                                    NED
Games                          1992 Winter
Year                                  1992
Season                              Winter
City                           Albertville
Sport                        Speed Skating
Event     Speed Skating Women's 500 metres
Medal                                  NaN
Name: 6, dtype: object

In [25]:
display(df.iloc[7])

ID                                         5
Name                Christine Jacoba Aaftink
Sex                                        F
Age                                     25.0
Height                                 185.0
Weight                                  82.0
Team                             Netherlands
NOC                                      NED
Games                            1992 Winter
Year                                    1992
Season                                Winter
City                             Albertville
Sport                          Speed Skating
Event     Speed Skating Women's 1,000 metres
Medal                                    NaN
Name: 7, dtype: object

In [27]:
display(df.iloc[8])

ID                                       5
Name              Christine Jacoba Aaftink
Sex                                      F
Age                                   27.0
Height                               185.0
Weight                                82.0
Team                           Netherlands
NOC                                    NED
Games                          1994 Winter
Year                                  1994
Season                              Winter
City                           Lillehammer
Sport                        Speed Skating
Event     Speed Skating Women's 500 metres
Medal                                  NaN
Name: 8, dtype: object

In [26]:
display(df.iloc[9])

ID                                         5
Name                Christine Jacoba Aaftink
Sex                                        F
Age                                     27.0
Height                                 185.0
Weight                                  82.0
Team                             Netherlands
NOC                                      NED
Games                            1994 Winter
Year                                    1994
Season                                Winter
City                             Lillehammer
Sport                          Speed Skating
Event     Speed Skating Women's 1,000 metres
Medal                                    NaN
Name: 9, dtype: object

In [31]:
display(df.iloc[10])

ID                                               6
Name                               Per Knut Aaland
Sex                                              M
Age                                           31.0
Height                                       188.0
Weight                                        75.0
Team                                 United States
NOC                                            USA
Games                                  1992 Winter
Year                                          1992
Season                                      Winter
City                                   Albertville
Sport                         Cross Country Skiing
Event     Cross Country Skiing Men's 10 kilometres
Medal                                          NaN
Name: 10, dtype: object